.new_container {
  padding-top: 1rem;
}

.new_img {
  width: 120px;
  margin-bottom: var(--mb-0-5);
  transition: 0.3s;
}

.new_content {
  position: relative;
  background: var(--container-color);
  width: 242px;
  padding: 2rem 0 1.5rem 0;
  border-radius: 0.75rem;
  text-align: center;
  overflow: hidden;
}
.new_tag {
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: var(--title-color);
  font-size: var(--small-font-size);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.new_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.new_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.new_prices {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.new_price {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.new_discount {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}

.new_icon {
  font-size: 1.25rem;
}

.new_content:hover .new_img {
  transform: translateY(-0.5rem);
}
