.scroll_top {
  display: inline-flex;
  position: fixed;
  bottom: 50px;
  right: -50px;
  background: var(--container-color);
  padding: 0.2rem 0.2rem;
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.3s;
}

.scroll_top:hover {
  opacity: 1;
}
.show_scroll {
  right: 30px;
}
.scroll-arrow {
  color: var(--title-color);
  font-size: 1.75rem;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: 0.5rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
